<?xml version="1.0"?>

<model>
  <name>Velodyne (VLP-16)</name>
  <version>2.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Antoni karas</name>
    <email>antonikaras1995@hotmail.com</email>
  </author>

  <description>
    velodyne VLP-16 lidar sensor
  </description>
</model>
