<?xml version="1.0" ?>
<model>
    <name>small_house</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>antonikaras</name>
        <email>antonikaras1995@hotmail.com</email>
    </author>
    <description>A 20m2 house used to test the interactive mapping package</description>
</model>
